body {
  background: #3368AA;
}

/* creado la linea de tiempo*/
.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}
 
.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}
 
.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
}
 
.timeline ol li:last-child {
  width: 280px;
}
 
.timeline ol li:not(:first-child) {
  margin-left: 14px;
}
 
.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + -87px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F45B69;
}
/* fin liena de tiempo*/

/* contenedores y forma */
.timeline ol li div {
  position: absolute;
  left: calc(100% + 60px);
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  top: -65px;
  transform: translateY(-100%);
}
 
.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white white transparent transparent;
  height: 57px;
  left: calc(100% + -235px); 
}
/*pares
.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}
 
.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}
 fin pares

/*impares
.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}
 
.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}
/* fin impares*/

/* posicionando botones de desplazamiento */
.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
 
.timeline .arrows .arrow__prev {
  margin-right: 20px;
}
 
.timeline .disabled {
  opacity: .5;
}
 
.timeline .arrows img {
  width: 45px;
  height: 45px;
}
/* fin posicionando botones de desplazamiento */

.icon {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid white;
  color: white;
}

.icon .fa {
  position: relative;
  left: calc(100% - 75%);
  top: calc(100% - 82%);
  font-size: 4em;
}